---
import Image from "./Image.astro";
interface Props {
  title: string;
  class: string;
}

const { title, class: className } = Astro.props;
---

<style>
  :root {
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  }
  h1 {
    background: linear-gradient(var(--Violet-blue-circle), rgb(0, 81, 255));
  }
</style>
<header>
  <h1 class={className}>{title}</h1>
  <picture>
    <Image
      classImg="w-full h-full"
      alt="mi setup"
      img="img-challenges/Captura.webp"
    />
  </picture>
</header>
