@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
        /* Colors */

    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

        /* Typography */

    /* Body Copy */

    --Font-size-paragraph: 15px;

    /* Font */

    --Family: 'Outfit', sans-serif;
    --Weights: 400, 700;
}

body {
    background: var(--Light-gray);
}

main {
    background: var(--White);
}
.title {
    width: 240px;
    font-size: 21px;
    text-align: center;
    color: var(--Dark-blue);
}

.text {
    text-align: center;
    width: 259px;
    margin-bottom: 1em;
    color: var(--Grayish-blue);
}